In [7]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [7]:
pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.25-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 3.5 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (614 kB)
     |████████████████████████████████| 614 kB 82.5 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/amangmisbah/.local/lib/python3.9/site-packages (from SQLAlchemy) (4.9.0)
Installing collected packages: greenlet, SQLAlchemy
Successfully installed SQLAlchemy-2.0.25 greenlet-3.0.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
df = pd.read_csv("green_tripdata_2019-09.csv", nrows=100)

In [9]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [12]:
df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [10]:
from sqlalchemy import create_engine

# Format URL: 'postgresql://[user]:[password]@[host]:[port]/[dbname]'
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [13]:
len(df)

100

In [14]:
# Membagi data dalam chunk
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

# Mendapatkan chuck pertama dan menyimpannya ke dalam variabel df
df=next(df_iter)

In [15]:
df.head(n=0).to_sql(name='green_taxi_data',con=engine, if_exists='replace')

0

In [16]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

1000

In [18]:
from time import time

while True:
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        print("All data chunks processed.")
        break  # Keluar dari loop saat semua data telah diproses

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 13.326 second
inserted another chunk, took 13.339 second

/tmp/ipykernel_24058/129285377.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 13.514 second
inserted another chunk, took 5.760 second
All data chunks processed.

In [19]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [22]:
len(df)

49063

In [24]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag              float64
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [20]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [21]:
len(df_zones)

265

In [25]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265